<section class="container-fluid d-flex justify-content-center align-items-center" >
    <div class="container pt-5">
       <div class="row justify-content-center">
     
         <div class="col-md-7 bg-dark text-light text-center">
            <h1>Actualizar datos de la Pelicula</h1>
        </div>
      </div>
   </div>
</section>

<%= render 'form', movie: @movie %>

<%= link_to 'Mostrar', @movie, class:'btn btn-info text-light' %> |
<%= link_to 'Retroceder', movies_path , class:'btn btn-secondary text-light'%>
